<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".
-->
    <connectionStrings>
      <add name="FCGagarinContext"
        connectionString="Data Source=37.140.192.130;Initial Catalog=u0209107_FCGagarinDB;Integrated Security=False;User ID=u0209107_admin;Password=ETYscQK3iO" providerName="System.Data.SqlClient"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors xdt:Transform="Remove" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <machineKey validationKey="049CD34D87D1E1EB813275B17363A7D93F8DEB1D08C3E61D6D4410026BF1E0DDFBF6D7110E90D9011E5B5D3EAB28ED401C75876EFA59A97D133FEDFFF86ACE97" decryptionKey="8B8CAEC33003F44088AB457FBFECA0BCCC6FA7720AF0067F3FCADFF09D20C07F" validation="SHA1" decryption="AES" />
  </system.web>
  <system.webServer xdt:Transform="Insert">
    <rewrite>
      <rules>
        <rule name="Redirect to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
