@{
    ViewBag.Title = "Главная";
}
<div class="col-lg-12">
    <div class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Новости", "Index", "Home")</li>
            <li>@Html.ActionLink("Анонсы", "Index", "Training")</li>
        </ul>
    </div>
</div>
<div>
    <div>
        <h2>Новость</h2>
        <p>
            Просто чтобы было)test git
        </p>
    </div>
</div>