
<form id="fileupload" method="POST" enctype="multipart/form-data" data-url="@Url.Action("Upload","PhotoAlbum", new {id = ViewBag.Id})">
    <div class="row fileupload-buttonbar">
        <div class="col-lg-9">
            <!-- The fileinput-button span is used to style the file input field as button -->
            @*<span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Выбрать файлы...</span>
                    <input type="file" name="files[]" multiple>
                </span>*@
            <span>
                <span class="btn btn-default fileinput-button">
                    <i class="fa fa-plus fa-lg"></i>
                    <input type="file" name="files[]" accept="image/jpg,image/png,image/jpeg,image/gif" multiple>
                </span>
                |
                @*<button type="submit" class="btn btn-primary start">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Загрузить</span>
                    </button>*@
                <button type="submit" class="btn btn-default start">
                    <i class="fa fa-upload fa-lg"></i>
                </button>
                |
                @*<button type="reset" class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Отменить загрузку</span>
                    </button>*@
                <button type="reset" class="btn btn-default cancel">
                    <i class="fa fa-ban fa-lg"></i>
                </button>
                |
                @*<button type="button" class="btn btn-danger delete">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>Удалить</span>
                    </button>*@
                <button type="button" class="btn btn-default delete">
                    <i class="fa fa-trash-o fa-lg"></i>
                </button>
                <input type="checkbox" class="toggle">
            </span>
            <!-- The global file processing state -->
            <span class="fileupload-process"></span>
        </div>
        <!-- The global progress state -->
        <div class="col-lg-3 fileupload-progress fade">
            <!-- The global progress bar -->
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
            </div>
            <!-- The extended global progress state -->
            <div class="progress-extended">&nbsp;</div>
        </div>
    </div>
    <!-- The global progress state -->
    @*<div class="col-lg-3 fileupload-progress fade">
            <!-- The global progress bar -->
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
            </div>
            <!-- The extended global progress state -->
            <div class="progress-extended">&nbsp;</div>
        </div>*@

    <!-- The table listing the files available for upload/download -->
    <table role="presentation" class="table table-striped table-responsive"><tbody class="files"></table>
</form>

<br>
<!-- The blueimp Gallery widget -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    @*<ol class="indicator"></ol>*@
</div>
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.Name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}

            @*<button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>*@
            <button class="btn btn-default start" disabled>
                <i class="fa fa-upload fa-lg"></i>
            </button>
            {% } %}
            {% if (!i) { %}
            @*<button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>*@
            <span>|</span>
            <button class="btn btn-default cancel">
                <i class="fa fa-ban fa-lg"></i>
            </button>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.ThumbnailUrl) { %}
                <a href="{%=file.Url%}" title="{%=file.Name%}" download="{%=file.Name%}" data-gallery><img src="{%=file.ThumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.Url) { %}
                <a href="{%=file.Url%}" title="{%=file.Name%}" download="{%=file.Name%}" {%=file.ThumbnailUrl?'data-gallery':''%}>{%=file.Name%}</a>
                {% } else { %}
                <span>{%=file.Name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
            <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.Size)%}</span>
        </td>
        <td>
            {% if (file.DeleteUrl) { %}
            @*<button class="btn btn-danger delete" data-type="{%=file.DeleteType%}" data-url="{%=file.DeleteUrl%}" {% if (file.deletewithcredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>*@
            <button class="btn btn-default delete" data-type="{%=file.DeleteType%}" data-url="{%=file.DeleteUrl%}" {% if (file.deletewithcredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>
                <i class="fa fa-trash-o fa-lg"></i>
            </button>
            <input type="checkbox" name="delete" value="1" class="toggle">
            {% } else { %}
            @*<button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>*@
            <button class="btn btn-default cancel">
                <i class="fa fa-ban fa-lg"></i>
            </button>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>

