
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

header {
	padding: 20px 0;
    background: #7e7e7e;
}

.logo {
    font-size:40px;
    color:white;
    text-decoration: none;
}

.logo:hover 
{
     color:white;
     text-decoration:none; 
}

.login-btn {
    color:white;
    text-decoration: none;
}

.login-btn:hover  {
    color:white;
    text-decoration: none;
}

#registerArea {
    float:right;
}

aside > h3 {
	background: #7e7e7e;
	font: 14px 'Oswald', sans-serif;
	color: #fff;
	padding: 10px;
	margin: 30px 0 0 0;
}

aside > div {
	background: #f3f3f3;
	border: 1px solid #e7e7e7;
	padding: 10px;
	margin: 0;
    height:250px;
}

.menu li {
    font-size:25px;
    text-align:center;
}