
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

body{
    background-color:#f3f3f3;
}

header {
    background: #484646;
    height:120px;
    padding-top:20px;
}

header .row {
    margin: 0 22% 0 22%;
}

header div{
    /*height:80%;*/
}

#registerArea {
    /*margin-top:30px;*/
}

.content {
    margin-top:-20px;
    background-color:#ffffff;
}

.logo {
    font-size:40px;
    color:white;
    text-decoration: none;
}

.logo:hover 
{
     color:white;
     text-decoration:none; 
}

.login-btn {
    color:white;
    text-decoration: none;
}

.login-btn:hover  {
    color:white;
    text-decoration: none;
}

aside > h3 {
	background: #dcdbdb;
	font: 14px 'Oswald', sans-serif;
	color: #fff;
	padding: 10px;
	margin: 30px 0 0 0;
}

aside > div {
	background: #f3f3f3;
	border: 1px solid #e7e7e7;
	padding: 10px;
	margin: 0;
    height:250px;
}

.menu div {
    text-align:center;
    background-color:#f8f2d0;
    height:60px;
}

.menu a {
    font-size:25px;
    color: #777777;
    text-decoration: none;
    width:100%;
}