@{
    ViewBag.Title = "Анонсы";
}
@Html.ActionLink("Добавить анонс", "AddAnnouncement")


<div class="jumbotron">
        <h2>Анонс1</h2>
        <p>
            Текст анонса
        </p>
</div>

<div class="jumbotron">
    <h2>Анонс2</h2>
    <p>
        Текст анонса
    </p>
</div>

<div class="jumbotron">
    <h2>Анонс3</h2>
    <p>
        Текст анонса
    </p>
</div>
