@model IEnumerable<FCGagarin.WebUI.ViewModels.NewsViewModel>

@{
    ViewBag.Title = "Новости и анонсы";
}

@if (User.IsInRole("Moderator"))
{
    @Html.ActionLink(" ", "Create", null, new { @class = "btn btn-default fa fa-plus fa-lg plus" }) //TODO: заменить класс .plus, который отодвигает кнопку xD
}

<div id="scrollList">
    @Html.Partial("_News")
</div>

<div id="loading"><img src='@Url.Content("~/Content/Images/SoccerBall.gif")' class="img-thumbnail center-block"></div>

@section scripts{
    <script type="text/javascript">
        $(function () {

            $('div#loading').hide();

            var page = 0;
            var inCallback = false;
            function loadItems() {
                if (page > -1 && !inCallback) {
                    inCallback = true;
                    page++;
                    $('div#loading').show();

                    $.ajax({
                        type: 'GET',
                        url: '/News/Index/' + page,
                        success: function (data, textstatus) {
                            if (data != '') {
                                $("#scrollList").append(data);
                            }
                            else {
                                page = -1;
                            }
                            inCallback = false;
                            $("div#loading").hide();
                        }
                    });
                }
            }
            // обработка события скроллинга
            $(window).scroll(function () {
                if ($(window).scrollTop() == $(document).height() - $(window).height()) {

                    loadItems();
                }
            });
        })
    </script>
}







